body {
  background-color: rgb(36, 34, 39);
}

.app {
  border-radius: 1em;
  background-color: rgb(244, 237, 255);
  padding: 0.3em;
  max-width: 500px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  padding: 0.3em 0 0.3em 0;
}

.colors-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 250px;
  background-color: white;
}

.color {
  width: 20%;
  height: 100%;
}

.hex-codes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding: 0.5em 0 0.3em 0;
}
